class Riot${CLASS} < Formula
    desc "Redis Input/Output Tool"
    homepage "https://github.com/redis-developer/riot"
    version "${VERSION}"
    url "https://github.com/redis-developer/riot/releases/download/v#{version}/riot-${MODULE}-#{version}.zip"
    sha256 "${SHA256}"
  
    depends_on "openjdk@8"
  
    def install
      libexec.install Dir["*"]
      bin.install_symlink "#{libexec}/bin/riot-${MODULE}"
    end
  end
